p,div,h1,h2,h3,h4,h5,ul,li,span,img{
    padding: 0px;
    margin:0px;
    list-style: none;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    width: 750px;
    height:100%;
    font-size: 0px;
}
/* 用户登录 */
.log_close{
    position: absolute;
    top:0;
    right: 0;
    opacity: 0.4;
}
.logbj{
    background: url(./img/logbj2.jpg)center no-repeat;
    animation: bjanim 0.5s steps(3) infinite;
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 25;
}
@keyframes bjanim{
    0%{
        background-position: 0px 0px;
    }
    100%{
        background-position: 0px -4002px;
    }
}
.login_page{
    width:100%;
    height:100%;
    background:rgba(116, 115, 115, 0.5);
    position: absolute;
    top:0px;
    left:0px;
    z-index: 26;
}
.log_wapper{
    /* display: none; */
    font-size: 0px;
    box-sizing: border-box;
    padding: 30px 0px;
    width:650px;
    background: rgba(92, 92, 92, 0.527);
    border-radius: 30px;
    margin:25% auto;
}
.log_title{
    width:650px;
    margin: 0 auto;
}
.log_title>p{
    font:normal 800 30px/50px serif;
    color: rgba(204, 204, 204, 0.527);
    display: inline-block;
    width:160px;
    text-align: center;
}
.log_title .log{
    width:140px;
    margin:0 120px 0 115px;
}
.log_title>.act{
    color: rgb(238, 238, 238);
    border-bottom: solid 4px rgba(212, 212, 212, 0.884);
}
.log_box{
    position: relative;
    width:650px;
    margin: 20px 0px;
}
.log_box input{
    border: none;
    margin: 30px 0 0 40px;
    font-size: 30px;
    padding: 5px 0 5px 69px;
    width:570px;
    height:80px;
    border-radius: 35px;
    outline-style: none;
    background-color: rgba(177, 177, 177, 0.596);
    color: #EEE;
}
.log_box .telbj{
    width:48px;
    opacity: 0.6;
    position: absolute;
    top:46px;
    left:50px;

}
.log_box .passbj{
    width:40px;
    opacity: 0.8;
    position: absolute;
    top:160px;
    left:50px;
}
.log_box .rem_pass{
    margin:20px 5px 0 40px;
    white-space: nowrap;
    color: rgb(224, 224, 224);
    letter-spacing : 30px;
    font:normal 600 20px/50px serif;
    position: relative;
    padding: 1px 10px;
    display: inline-block;
    width:100px;
    height:50px;
    border-radius: 30px;
    background-color: rgb(124, 94, 158);
}
.log_box .rem_pass .rem_but{
    transition: all 0.4s;
    font:normal 600 20px/40px serif;
    position: absolute;
    left:0px;
    display: inline-block;
    width:48px;
    height:48px;
    border-radius: 50%;
    background: rgb(214, 214, 214);
}
.log_box .rem_word{
    vertical-align: bottom;
    margin:20px 220px 0 0px;
    font:normal 500 20px/40px serif;
    color: #EEE;
}
.log_box .forget_pass{
    margin-top: 30px;
    display: inline-block;
    font:normal 600 25px/30px serif;
    color: rgb(231, 231, 231);
}
.log_box .log_but{
    letter-spacing: 30px;
    color:rgb(231, 231, 231);
    text-align: center;
    font: normal 800 35px/70px serif;
    height: 70px;
    width: 570px;
    margin: 30px auto;
    border-radius: 35px;
    background-color: rgb(124, 94, 158);
}
/* 注册 */
.reg_box{
    display: none;
    position: relative;
    width:650px;
    margin: 20px 0px;
}
.reg_box input{
    position: relative;
    border: none;
    margin: 30px 0 0 40px;
    font-size: 30px;
    padding: 5px 0 5px 69px;
    width:570px;
    height:60px;
    border-radius: 25px;
    outline-style: none;
    background-color: rgba(177, 177, 177, 0.596);
    color: #EEE;
}

.reg_box .telbj{
    width:45px;
    opacity: 0.6;
    position: absolute;
    top:38px;
    left:50px;

}
.reg_box .passbj{
    width:35px;
    opacity: 0.8;
    position: absolute;
    top:133px;
    left:50px;
}
.reg_box .pass_bj{
    width:35px;
    opacity: 0.8;
    position: absolute;
    top:223px;
    left:50px;
}
.reg_box .question_box{
    width: 570px;
    margin: 20px auto;
}
.reg_box .question_title i{
    font: 500 30px/30px serif;
    color: #EEE;
    width:200px;
}
.reg_box .question_title{
    font: 400 20px/30px serif;
    color: #EEE;
    margin-bottom: 20px;
}
.reg_box .pass_question{
    vertical-align: top;
    width:300px;
    outline-style: none;
    font: normal 500 28px/40px serif;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: rgba(177, 177, 177, 0.596);
    color: #EEE;
}
.reg_box .pass_question option{
    font: normal 400 20px/20px serif;
    outline-style: none;
    border-radius: 20px;
    background-color: rgba(177, 177, 177, 0.596);
    color: #EEE;
}
.reg_box .pass_answer{
    font: normal 400 28px/28px serif;
    padding-left: 10px;
    display: inline-block;
    width:260px;
    margin: 0 0 0 10px;
}
.reg_box .reg_but{
    letter-spacing: 30px;
    color:rgb(231, 231, 231);
    text-align: center;
    font: 700 30px/60px serif;
    height: 60px;
    width: 570px;
    margin: 30px auto;
    border-radius: 35px;
    background-color: rgb(124, 94, 158);
}
/* 改密码 */
.changepassword{
    position: relative;
    display: none;
    font-size: 0px;
    box-sizing: border-box;
    padding: 30px 0px;
    width:650px;
    background: rgba(92, 92, 92, 0.527);
    border-radius: 30px;
    margin:25% auto;
}
.changepassword .back_log{
    position: absolute;
    top:30px;
    left:0px;
    width:150px;
    font:700 35px/50px serif;
    color: #EEE;
    display: inline-block;
    text-align: center; 
}
.changepassword .change_tit{
    width:100%;
    font:800 35px/50px serif;
    color: #EEE;
    display: inline-block;
    text-align: center; 
}
.changepassword input{
    border: none;
    margin: 30px 30px 0 40px;
    font-size: 30px;
    padding: 5px 0 5px 10px;
    width:570px;
    height:60px;
    border-radius: 25px;
    outline-style: none;
    background-color: rgba(187, 187, 187, 0.596);
    color: rgb(241, 241, 241);
}
.changepassword .change_tel{
    width:460px;
}
.changepassword .tel_but{
    font: 800 25px/60px serif;
    text-align: center;
    display: inline-block;
    width:70px;
    height:60px;
    border-radius: 18px;
    background-color: rgba(177, 177, 177, 0.596);
    color: #EEE;
}
.changepassword .puestion_tit{
    margin:30px 0 -10px 40px;
    font: 500 28px/30px serif;
    color: #EEE;
}
.changepassword .pass_question{
    margin:30px 0 0 40px;
    font: 500 23px/60px serif;
    color: #EEE;
    display: inline-block;
}
.changepassword .change_but{
    letter-spacing: 20px;
    color:rgb(231, 231, 231);
    text-align: center;
    font: 700 30px/60px serif;
    height: 60px;
    width: 570px;
    margin: 30px auto;
    border-radius: 35px;
    background-color: rgb(124, 94, 158);
}
/* 顶部 */
.head{
    /* display: none; */
    box-sizing: border-box;
    padding: 10px 10px 0 20px;
    background: rgb(116, 182, 237);
    widows: 750px;
    height:125px;
    color: #fff;
    position: relative;
}
.head .name{
    font-size:40px;
    font-weight: 700;
    display: inline-block;
    padding-left: 100px; 
    height:100px;
    width:80%;
    line-height: 80px;
    background:url(./img/dianpu.png)left no-repeat;
    background-size: 80px 80px;
    
}
.head .pull_down{
    font-size:50px;
    line-height: 100px;
    float: right;
}
.head .intro{
    display: none;
    position: absolute;
    top: 125px;
    left: 0;
    width:100%;
    box-sizing: border-box;
    padding: 20px;
    font: normal 500 30px/40px serif;
    background: rgba(51, 126, 179, 0.733);
    z-index: 3;
}
.head .star{
    color: #fff;
    font: normal 35px/40px serif;
    display: inline-block;
    height: 40px;
    white-space: 5px;
    position: absolute;
    bottom: 10px;
    left: 125px;
}
.head .star .starnum{
    font:normal 500 40px/40px serif;
}
.head .star .glyphicon-star{
    color: rgb(255, 206, 92);
    display: none;
}
.indexpage{
    /* display: none; */
}
/* 轮播图 */
.swiper-container1{
    width:750px;
    height:400px;
    position: relative;
    overflow: hidden;
}
.swiper-container1 .swiper-slide img{
    width:750px;
    height:100%;
}
.swiper-container1 .swiper-pagination1{
    width:150px;
    position: absolute;
    margin-left:50%;
    transform: translateX(-50%);
    bottom: 60px;
    z-index: 10;
}
.swiper-container1 .swiper-pagination1 .swiper-pagination-bullet{
    width:10px;
    height:10px;
    background:rgb(224, 224, 224);
    opacity: 0.5;
    margin: 10px;
}
.swiper-container1 .swiper-pagination1 .swiper-pagination-bullet-active{
    background-color:rgba(255, 255, 255, 0.92);
    width:35px;
    height:10px;
    border-radius: 10px;
    opacity: 0.85;
}
/* 分类 */
.allclass{
    width:750px;
    height: 170px;
    position: relative;
}
.allclass .box{
    padding-top: 50px;
    padding: 50px 140px 0 140px;
    position: absolute;
    top:-60px;
    left: 0;
    height:200px;
    width:1030px;
    margin-left: -140px;
    background: rgb(255, 255, 255);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    z-index: 10;
}
.allclass .box>div{
    width:130px;
    height:200px;
    display: inline-block;
    margin-left: 33px;
    border-radius: 50%;
    text-align: center;
    font: normal 600 25px/30px serif;
}
.allclass .box>div img{
    margin: 0 5px 15px 10px;
    width:100px;
    height:100px;
    box-shadow: 0px 6px 8px #999;
    border-radius: 50%;

}
/* 活动版块 */
/* .active{
    width:100%;
    height:400px;
    position: relative;
}
.active>div{
    box-shadow: 0 0 8px #999;
    display: inline-block;
    text-align: center;
    font: bolder 70px/200px serif;
    color: #fff;
    background: url(./img/cup01.jpg) no-repeat;
    background-size: 100% 100%;
}
.active .act1{
    width:350px;
    height:400px;
    margin-left: 30px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.active .act2{
    width:310px;
    height:185px;
    position: absolute;
    top:0px;
    right:30px;
    border-top-right-radius:20px;
}
.active .act3{
    width:310px;
    height:185px;
    position: absolute;
    bottom:0px;
    right:30px;
    border-bottom-right-radius:20px;
} */
/* 推荐商品 */
.rec_title{
    font: normal 700 35px/50px serif;
    color: #f40;
    width:300px;
    margin:30px 0 0 80px;
    position: relative;
}
.rec_title::after{
    content: url(./img/hot.png);
    position: absolute;
    bottom: -6px;
    left: -50px;
}
/* 商品列表 */
.list{
    width:700px;
    margin:10px 0 25px 25px;
}
.list>li {
    width:100%;
    height: 200px;
    position: relative;
}
.list>li img{
    border-radius: 20px;
    width:300px;
    height: 180px;
    display: inline-block;
    margin-right: 15px;
}
.list>li p{
    font: normal 500 28px/32px serif;
    width:380px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
.list>li span{
    width:50px;
    display: inline-block;
    font: normal 500 30px/35px serif;
}
.list>li .like{
    position: absolute;
    bottom: 40px;
    right: 10px;
}
.list>li .like::after{
    content: url(./img/heart.png);
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 3px;
    right: 46px;
}
.list>li .price{
    position: absolute;
    bottom: 40px;
    right: 300px;
    color: #f40;
}
.list>li .price::before{
    content: url(./img/money.png);
    color:#f40;
    position: absolute;
    bottom: 0px;
    right: 55px;
}
.more,.no_more{
    font: normal 400 30px/50px serif;
    color: rgb(88, 88, 88);
    width:100%;
    text-align: center;
    margin-bottom: 150px;
}
/* 底部导航 */
.bottom_nav{
    /* display: none; */
    position: fixed;
    bottom:0px;
    left:0px;
    width:750px;
    box-sizing: border-box;
    padding: 10px 30px;
    box-shadow: 0px -2px 30px #ccc;
    background-color: #fff;
}
.bottom_nav img{
    width:58px;
    height: 58px;
    margin: 0 15px;
    border-radius: 10px;
    display: inline-block;
}
.bottom_nav div{
    text-align: center;
    font: normal 600 20px/30px serif;
    width:100px;
    display: inline-block;
}
.bottom_nav>div:nth-of-type(1){
    margin:0 80px 0 10px;
}
.bottom_nav>div:nth-of-type(2){
    margin-right:80px;
}
.bottom_nav .locate{
    position: absolute;
    top:0px;
    left:75px;
    color:rgb(60, 88, 211);
    font-size: 30px;
    z-index: 2;
}
.bottom_nav .order{
    position: relative;
    border-radius: 10px;
    margin-right: 80px;
    display: inline-block;
}
.bottom_nav .order .order_num{
    position: absolute;
    top:0px;
    left:15px;
    display: inline-block;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f40;
    text-align: center;
    font: normal 600 20px/30px serif;
    color:#fff;
}
/* 分类页 */
.classify_page{
    position: absolute;
    top: 0px;
    display: none;
    width:750px;
    min-height: 100%;
    background-color:#fff;
    z-index: 10;
    overflow-x: hidden;
}
.classify_page .classify_close{
    width: 100%;
    height: 123px;
    color: #fff;
    font: 800 40px/123px serif;
    letter-spacing: 2px;
    /* position: absolute;
    top: -123px;
    right: 0px; */
    background: rgb(116, 182, 237);
    color: #fff;
}
.classify_page .nav_bar{
    width: 100%;
    height: 100px;
    background-color:#eee;
    border-radius: 10px;
}
.classify_page .nav_bar>span{
    display: inline-block;
    text-align: center;
    width: 25%;
    height: 100px;
    font: 600 40px/100px serif;
    background-color:#eee;
    color: #333;
}
.classify_page .nav_bar>span.act{
    height: 95px;
    font: 800 40px/100px serif;
    border-bottom: 8px solid #89a7ea;
    color: #000;
}
.classify_page .listbox{
    transition: all 1s;
    width:3000px;
    position: absolute;
    top:223px;
    left:-750px;
}
.classify_page .listbox>.list{
    vertical-align: top;
    padding: 15px;
    width:750px;
    display: inline-block;
    margin: 0px;

}
/* 搜索页 */
.searchpage{
    display: none;
    width:750px;
    min-height: 1000px;
    background-color:#fff;
}
.searchpage .input{
    width:620px;
    margin: 20px auto 50px;
}
.searchpage .input input{
    color: rgb(112, 112, 112);
    padding: 0px 20px;
    font: normal 400 25px/25px serif;
    display: inline-block;
    height:60px;
    width:580px;
    outline: none;
    border: none;
    background: rgb(233, 233, 233);
    border-radius: 30px;
}
.searchpage .input .search_but{
    display: inline-block;
    height:60px;
    width:60px;
    margin-top:-18px;
    margin-left: -60px;
    z-index: 5;
}
.searchpage .tipword{
    width:100%;
    position: absolute;
    top:210px;
    left:0px;
}
.searchpage .tipword>i{
    position: relative;
    display: block;
    font: 600 30px/80px serif;
    border-bottom: solid 1px #555;
    width: 530px;
    padding-left: 50px;
    margin-left: 84px;
}
.searchpage .tipword>i::before{
    content: url(./img/search2.png);
    position: absolute;
    top: 12px;
    left: 5px;
    margin-right: 85px;
}
/* 订单 */
.orderpage{
    display: none;
    width:750px;
    min-height: 1000px;
    position: relative;
}
.orderpage .order_nav{
    width:100%;
    height:100px;
    padding: 10px 105px;
    box-sizing: border-box;
}
.orderpage .order_nav>span{
    text-align: center;
    display: inline-block;
    width:135px;
    height: 60px;
    box-sizing: border-box;
    font: normal 800 40px/50px serif;
}
.orderpage .order_nav>span:nth-of-type(1){
    margin-right: 230px;
}
.orderpage .order_nav>span.act{
    border-bottom: solid 4px #f40;
}
/* 已付款 */
.paybox{
    margin-bottom: 130px;
    display: none;
}
.pay{
    width: 700px;
    margin: 10px 0 5px 25px;
    border: solid 1px rgb(131, 131, 131);
    border-radius: 20px;
}
.pay .num_box{
    width: 80px;
    letter-spacing: 5px;
    display: inline-block;
    font: normal 600 38px/40px serif;
    position: absolute;
    bottom: 35px;
    right: 25px;
    color: #f40;
}
.pay .order_number{
    padding: 10px;
    display: block;
    font: normal 600 32px/40px serif;
    color: rgb(39, 39, 38);
}

/* 未付款 */
.wait_pay{
    width:700px;
    margin:10px 0 25px 25px;
}
.pay>li,.wait_pay>li {
    width:100%;
    height: 200px;
    position: relative;
}
.pay>li img,.wait_pay>li img{
    border-radius: 20px;
    width:260px;
    height: 180px;
    display: inline-block;
    margin: 0 15px;
}
.pay>li p,.wait_pay>li p{
    font: normal 500 28px/32px serif;
    width:360px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
.pay>li .delete,.wait_pay>li .delete{
    font-size: 30px;
    color:#f40;
}
.pay>li .attr,.wait_pay>li .attr{
    width: 130px;
    text-align: center;
    display: inline-block;
    font: normal 600 25px/35px serif;
    position: absolute;
    bottom: 35px;
    right: 180px;
    color: #f40;
}
.pay>li .price,.wait_pay>li .price{
    width:50px;
    display: inline-block;
    font: normal 600 32px/35px serif;
    position: absolute;
    bottom: 40px;
    right: 300px;
    color: #f40;
}
.pay>li .price::before,.wait_pay>li .price::before{
    content: url(./img/money.png);
    color:#f40;
    position: absolute;
    bottom: 0px;
    right: 55px;
}

.wait_pay .num_box,  
.pay .num_box{
    width: 80px;
    letter-spacing: 5px;
    display: inline-block;
    font: normal 600 38px/40px serif;
    position: absolute;
    bottom: 35px;
    right: 25px;
    color: #f40;
}
.orderpage .deal_order{
    width:700px;
    height:80px;
    padding-top: 20px;
    border-top: solid 1px #ccc;
    margin:0px 0 25px 25px;
    position: fixed;
    bottom:107px;
    left: 0px;
}
.orderpage .deal_order .sub_order{
    margin-left: 200px;
    width: 300px;
    height: 60px;
    border: solid 1px #f40;
    border-radius: 30px;
    display: inline-block;
    background: #fff;
    font: 800 28px/60px serif;
    color: #f40;
    text-align: center;
}
/* 提交购买 */
.order_infor{
    display: none;
    background-color: #FFF;
    padding: 10px 20px;
    width:750px;
    height:100%;
    padding-top: 100px;
    margin-left:0px;
    position: fixed;
    top:0px;
    left: 0px;
    color:#333;
    font:600 28px/35px serif;
    z-index: 30;
}
.order_infor .close_order_infor{
    opacity: 0.8;
    width:80px;
    position: absolute;
    top:10px;
    right:10px;
}
.order_infor h2{
    width:100%;
    text-align: center;
    font:800 35px/60px serif;
}
.order_infor i {
    width: 140px;
    font: 600 25px/70px serif;
    display: inline-block;
    color: #333;
}
.order_infor .receive{
    width:410px;
    font:600 30px/35px serif;
    display: inline-block;
    margin-right: 50px;
}
.order_infor input{
    outline-style: none;
    width:200px;
    height:50px;
    border:none;
    border-bottom: 1px solid #555;
    font:600 30px/35px serif;
    display: inline-block;
}
.order_infor textarea{
    outline-style: none;
    width:340px;
    height:80px;
    border:none;
    border-bottom: 1px solid #555;
    font:600 30px/35px serif;
    display: inline-block;
    vertical-align: top;
}
.order_infor .sum{
    width:230px;
    display: inline-block;
    font-size: 0px;
    vertical-align: top;
}
.order_infor .sum span{
    width:70px;
    font:600 30px/35px serif;
    display: inline-block;
    color:#f40;
}
.order_infor .sub_but{
    width: 180px;
    height: 60px;
    border: solid 1px #f40;
    border-radius: 30px;
    display: inline-block;
    background: #fff;
    font: 800 28px/60px serif;
    color: #f40;
    text-align: center;
    position: absolute;
    right: 80px;
    top: 415px;
}
.order_infor .order_ok{
    display: none;
    width:100%;
    text-align: center;
    margin-top: 100px;
}
.order_infor .order_ok p{
    width:100%;
    color: #f40;
    font:800 35px/60px serif;
    text-align: center;
}
.order_infor .order_ok h6,
.order_infor .order_ok h5{
    width:100%;
    color: #333;
    font:800 28px/50px serif;
}
.order_infor .order_ok img{
    width:200px;
    display: inline-block;
    margin-top:20px;
}
.order_infor .order_ok .callme{
    width:280px;
    margin-left: -30px;
    display: inline-block;
    font: 800 28px/40px serif;
}
/* 个人中心 */
.selfpage{
    display: none;
    width:750px;
    position: relative;
    background: url(./img/selfbj2.jpg) top repeat-y;
    background-size: 100% 1334px;
    font-size: 0px;
}
.selfpage .partone .headimg{
    width: 150px;
    height:150px;
    border-radius: 50%;
    display: inline-block;
    margin:30px 10px 30px 30px; 
}
.selfpage .partone .userid{
    color:#fff;
    font:800 40px/45px serif;
    margin-right: 300px;
}
.selfpage .partone .changeuser{
    position: absolute;
    top: 130px;
    left: 200px;
    display: inline-block;
    width: 200px;
    color: #fff;
    font: 800 25px/30px serif;
}
.selfpage .parttwo{
    width:650px;
    margin: 0px auto;
    font-size: 0px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.selfpage .parttwo span{
    display: inline-block;
    height: 115px;
    width:190px;
    font: 800 30px/115px serif;
    padding-left: 50px;
}
.selfpage .parttwo .myaddress{
    background:url(./img/contory.png) left no-repeat;
    background-size: 45px;
    margin-left: 35px;
}
.selfpage .parttwo .like{
    width:150px;
    background:url(./img/like.png) left no-repeat;
    background-size: 45px;
    margin: 0 25px;
}
.selfpage .parttwo .browsing_history{
    background:url(./img/history.png) left no-repeat;
    background-size: 45px;
}
.selfpage .parttwo span.act{
    border-bottom:solid 6px rgb(57, 144, 245);
}
.selfpage .partthree{
    width:650px;
    min-height: 1000px;
    margin: -2px auto;
    font-size: 0px;
    background-color: #fff;
    padding-top:30px;
}
/* list公共部分 */
.selfpage .partthree .list{
    width: 600px;
    margin: 0px 0 25px 25px;
}
.selfpage .partthree .list>li img {
    border-radius: 20px;
    width: 260px;
    height: 170px;
    display: inline-block;
    margin-right: 15px;
}
.selfpage .partthree .list>li p {
    font: normal 500 28px/32px serif;
    width: 325px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
.selfpage .partthree .list>li .price {
    position: absolute;
    bottom: 40px;
    right: 240px;
    color: #f40;
}
/* 收藏夹 */
.selfpage .partthree .like_list{
    margin-bottom: 115px;
    /* display: none; */
}
/* 历史记录 */
.selfpage .partthree .history_list{
    display: none;
    margin-bottom: 130px;
}
.selfpage .partthree .myinfor{
    display: none;
    padding: 0px 25px;
}
.selfpage .partthree .myinfor .infor_nav{
   width:150px;
   text-align: left;
   display: inline-block;
   vertical-align: top;
}
.selfpage .partthree .myinfor .infor_nav span{
    display: inline-block;
    background-color:#fff;
    font: 800 30px/85px serif;
    width: 152px;
 }
 .selfpage .partthree .myinfor .infor_nav span.act{
    display: inline-block;
    color:rgb(76, 146, 250);
    font: 800 30px/45px serif;
 }
.selfpage .partthree .myinfor .show_infor{
    width:400px;
    font: 800 25px/35px serif;
    text-align: left;
    display: inline-block;
 }
 .selfpage .partthree .myinfor .my_password,
 .selfpage .partthree .myinfor .contact{
     display: none;
 }
 .selfpage .partthree .myinfor .contact img{
    display: inline-block;
    width:455px;
    position: relative;
}
.selfpage .partthree .myinfor .show_infor .contact span{
    background-color: rgba(53, 155, 250, 0.5);
    font: 600 35px/50px serif;
    width:410px;
    color: #FFF;
    display: inline-block;
    border-radius: 16px;
    margin-left: 23px;
}
.selfpage .partthree .myinfor .show_infor .contact>a{
    background-color: rgba(53, 155, 250, 0.5);
    font: 600 35px/50px serif;
    color: #FFF;
    display: inline-block;
    border-radius: 16px;
    margin: 10px 0 10px 23px;
}
.selfpage .partthree .myinfor .show_infor .contact>a span{
    box-sizing: border-box;
    background:url(./img/call.png)left no-repeat;
    padding-left: 40px;
    margin: 0px;

}
.selfpage .partthree .myinfor i{
    font:700 30px/45px serif;
    color:#333;
    display: block;
    text-align: left;
}
.selfpage .partthree .myinfor textarea{
    font:700 28px/48px serif;
    color:#333;
    display: inline-block;
    width:360px;
    outline: none;
    border-radius: 10px;
    border: solid 1px #333;
    height:150px;
    margin: 30px 0px 10px;
}
.selfpage .partthree .myinfor input{
    font:700 28px/48px serif;
    color:#333;
    display: inline-block;
    width:360px;
    outline: none;
    border: none;
    border-bottom: solid 1px #333;
    height:60px;
    margin-bottom: 30px;
}
.selfpage .partthree .myinfor .show_infor span{
    display: block;
    padding: 10px;
    font: 700 25px/35px serif;
    border-radius: 30px;
    text-align: center;
    width: 366px;
    color: #fff;
    background-color: #f40;
}
.goods_page{
    box-sizing: border-box;
    padding: 0px 20px;
    width:750px;
    min-height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    background-color: #FFF;
    z-index: 20;
}
.goods_page .swiper-container2{
    width: 100%;
    height: 450px;
}
.swiper-container2{
    width:100%;
    height:400px;
    position: relative;
    overflow: hidden;
}
.swiper-container2 .swiper-slide img{
    widows: 100%;
    height:100%;
}
.swiper-container2 .swiper-pagination2{
    width:150px;
    position: absolute;
    margin-left:50%;
    transform: translateX(-50%);
    bottom: 15px;
    z-index: 10;
}
.swiper-container2 .swiper-pagination2 .swiper-pagination-bullet{
    width:10px;
    height:10px;
    background:rgb(224, 224, 224);
    opacity: 0.5;
    margin: 10px;
}
.swiper-container2 .swiper-pagination2 .swiper-pagination-bullet-active{
    background-color:rgba(255, 255, 255, 0.92);
    width:15px;
    height:10px;
    border-radius: 10px;
    opacity: 0.90;
}
.goods_page .back{
    display: inline-block;
    padding: 5px 0 0 5px;
    font-size: 35px;
    font-weight: 300;
    position: absolute;
    top:20px;
    left:40px;
    color:#fff;
    width:45px;
    height:45px;
    background-color: rgba(15, 15, 15, 0.5);
    border-radius: 50%;
    z-index: 5;
}
.goods_page .share{
    display: inline-block;
    position: absolute;
    top:20px;
    right:40px;
    color:#fff;
    width:50px;
    height:50px;
    background-color: rgba(15, 15, 15, 0.5);
    border-radius: 50%;
    z-index: 5;
}
.goods_page .intorduce{
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 2px 8px #999;
}
.goods_page .intorduce .money{
    display: inline-block;
    font: 800 45px/50px serif;
    color: #f40;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin-right: 30px;
}
.goods_page .intorduce .money>img{
    width:30px;
    margin: 0px  10px 5px 0;

}
.goods_page .intorduce .like{
    position: relative;
    display: inline-block;
    font: 800 38px/50px serif;
    color: #f40;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #fff;
}
.goods_page .intorduce .like img{
    width:34px;
    vertical-align: middle;
    padding-bottom: 6px;
}
.goods_page .intorduce .like::after{
    content: '收藏';
    font: 600 33px/35px serif;
    width: 90px;
    height: 34px;
    position: absolute;
    bottom: 10px;
    right: -85px;
}
.goods_page .intorduce .title{
    font: 900 32px/60px serif;
    color: #000;
    letter-spacing: -1px;
}
.goods_page .show_goods,
.goods_page .show_goods img{
    width:100%;
    font-size: 0px;
    margin-top: 10px;
    border-radius: 10px;
}
.goods_page .show_goods img:nth-last-of-type(1){
    margin-bottom: 165px;
}
.goods_page .buy{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 8px #999;
}
.goods_page .buy>h4{
    font: bold 32px/50px serif;
    color: #000;
}
.goods_page .buy>i{
    display: inline-block;
    padding: 5px 10px;
    border: solid 1px #000;
    border-radius: 18px;
    font: bold 28px/30px serif;
    text-align: center;
    margin: 10px;
}
.goods_page .buy .g_attr.act{
    border: solid 1px #f40;
    color: #f40;
    
}
.goods_page .buy .num_box{
    position: absolute;
    right: 170px;
    top: 15px;
    display: inline-block;
    border: solid 1px #ccc;
    border-radius: 6px;
    color: #333;
    width: 150px;
    height: 45px;
    background: #FFF;
}
.goods_page .buy .num_box i{
    display: inline-block;
    text-align: center;
    font: 600 25px/42px serif;
    width: 40px;
    color: #555;
    background:#ddd;
}
.goods_page .buy .num_box i.num{
    color: #333;
    background:rgb(241, 241, 241);
    font: 800 28px/42px serif;
    width: 68px;
}
.goods_page .buy .residue{
    position: absolute;
    right: 5px;
    top: 20px;
    display: inline-block;
    color: #333;
    width: 150px;
    height: 45px;
    font: 800 25px/42px serif;
}
.goods_page .buy .butbox{
    widows: 100%;
    padding: 10px 30px;
}
.goods_page .buy .butbox .likethis{
    padding-top: 50px;
    text-align: center;
    font: 800 25px/30px serif;
    margin-left: 20px;
    vertical-align: bottom;
    display: inline-block;
    width: 100px;
    height: 80px;
    background: url(./img/like1.png) center top no-repeat;
}
.goods_page .buy .butbox .likethis.act{
    background: url(./img/like2.png) center top no-repeat;
}
.goods_page .buy .butbox .buythis,
.goods_page .buy .butbox .addorder{
    text-align: center;
    font: 800 32px/70px serif;
    letter-spacing: 2px;
    color: #fff;
    background-color: #f40;
    display: inline-block;
    width: 210px;
    height: 70px;
    border: solid 1px #f40;
    border-radius: 40px;
    margin-left: 50px;
}
.sharepage{
    display: none;
    font-size: 0px;
    position: absolute;
    top:0px;
    left: 0px;
    width:100%;
    height: 100%;
    background: url(./img/sharebj.png);
    background-size: 100% 100%;
    z-index: 25;
}
.sharepage>img{
    position: absolute;
    top:20px;
    left: 560px;
    animation: shareanim 2s linear infinite;
}
@keyframes shareanim{
    0%{
        transform: translate(0px,0px) scale(0.9);
    }
    50%{
        transform: translate(10px,-10px) scale(0.83);

    }
    100%{
        transform: translate(0px,0px) scale(0.9);
    }
}